<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ITAcademy" connectionString="data source=CYG148\SQLSERVER2008R2;initial catalog=ITAcademyDatabase;integrated security=true"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>